name: Lint

on:
  push:
    branches: "*"

  workflow_dispatch:

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: lts/*

      - name: Installing Dependencies
        run: yarn install --frozen-lockfile

      - name: Install dependencies of the homemade packages.
        run: yarn build:dev

      - name: Linting
        run: yarn lint

