name: CI

on:
  push:
    branches: "*"

  workflow_dispatch:

jobs:
  test_main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "npm"

      - name: Installing Lerna
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test

  test_integrations:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        integration: ["postgres", "spanner", "mysql", "mssql", "mongo", "firestore"]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "npm"

      - name: Downloading Docker compose V2
        run: |
          curl -sfL https://raw.githubusercontent.com/docker/compose-cli/main/scripts/install/install_linux.sh | sh
          docker compose version

      - name: Downloading Image
#        if: contains( 'firestore', '${{ matrix.integration }}' )
        run: |
          cd packages/velo-external-db/test/resources
          docker compose pull --quiet ${{ matrix.integration }}

      - name: Start containers
        run: |
          cd packages/velo-external-db/test/resources
          docker compose up --detach ${{ matrix.integration }}

      - name: Installing Lerna
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:${{ matrix.integration }}

      - name: Stop containers
        run: |
          cd packages/velo-external-db/test/resources
          docker compose down
