name: CI

on:
  push:
    branches: "*"

  workflow_dispatch:

jobs:
  test_main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 20
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Restore Dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

      - name: Installing Dependencies
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:core

  test_databases:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: [
                   "postgres", "postgres13", "postgres12", "postgres11", "postgres10", "postgres9",
                   "mysql", "mysql5",
                   "mssql", "mssql17",
                   spanner,
                   "mongo", "mongo4",
                   "dynamodb",
                   "firestore"
                   ]

    env:
      API_PRIVATE_KEY: ${{ secrets.API_PRIVATE_KEY }}
      CLIENT_EMAIL: ${{ secrets.CLIENT_EMAIL }}
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 20
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Restore Dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}
          
      - name: Downloading Image
        if: ${{ ( matrix.database != 'google-sheets') }}
        run: |
          cd apps/velo-external-db/test/resources
          docker compose pull --quiet ${{ matrix.database }}

      - name: Start Container
        if: ${{ ( matrix.database != 'google-sheets') }}
        run: |
          cd apps/velo-external-db/test/resources
          docker compose up --detach ${{ matrix.database }}

      - name: Installing Dependencies
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:${{ matrix.database }}

      - name: Stop Container
        if: ${{ ( matrix.database != 'google-sheets') }}
        run: |
          cd apps/velo-external-db/test/resources
          docker compose down

  # test_bigquery:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       database: ["bigquery"]

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Use Node.js 14
  #       uses: actions/setup-node@v2
  #       with:
  #         node-version: 14

  #     - name: Restore Dependencies
  #       uses: actions/cache@v2
  #       with:
  #         path: |
  #           node_modules
  #           */*/node_modules
  #         key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

  #     - name: Downloading Docker Compose V2
  #       if: ${{ ( matrix.database != 'bigquery') }}
  #       run: |
  #         curl -sfL https://raw.githubusercontent.com/docker/compose-cli/main/scripts/install/install_linux.sh | sh
  #         docker compose version

  #     - name: Downloading Image
  #       if: ${{ ( matrix.database != 'bigquery') }}
  #       run: |
  #         cd packages/velo-external-db/test/resources
  #         docker compose pull --quiet ${{ matrix.database }}

  #     - name: Start Container
  #       if: ${{ ( matrix.database != 'bigquery') }}
  #       run: |
  #         cd packages/velo-external-db/test/resources
  #         docker compose up --detach ${{ matrix.database }}

  #     - id: auth
  #       if: ${{ ( matrix.database == 'bigquery') }}
  #       uses: google-github-actions/auth@v0.4.0
  #       with:
  #         credentials_json: ${{ secrets.ACTIONS_GCP_CREDENTIALS }}

  #     - name: Set up Cloud SDK
  #       if: ${{ ( matrix.database == 'bigquery') }}
  #       uses: google-github-actions/setup-gcloud@v0.2.1

  #     - name: Installing Dependencies
  #       run: npm install

  #     - name: Install dependencies of the homemade packages.
  #       run: npm run build:dev

  #     - name: Testing
  #       run: npm run test:${{ matrix.database }}

  #     - name: Stop Container
  #       if: ${{ ( matrix.database != 'bigquery') }}
  #       run: |
  #         cd packages/velo-external-db/test/resources
  #         docker compose down
