name: CI

on:
  push:
    branches: "*"

  workflow_dispatch:

jobs:
  test_main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "npm"

      - name: Installing Lerna
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:core

  test_databases:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: ["postgres", "postgres13", "postgres12", "postgres11", "postgres10", "postgres9",
                   "spanner",
                   "mysql", "mysql5",
                   "mariadb", "mariadb5", "mariadb4",
                   "mssql", "mssql17",
                   "mongo", "mongo4",
                   "firestore"]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "npm"

      - name: Downloading Docker Compose V2
        run: |
          curl -sfL https://raw.githubusercontent.com/docker/compose-cli/main/scripts/install/install_linux.sh | sh
          docker compose version

      - name: Downloading Image
        run: |
          cd packages/velo-external-db/test/resources
          docker compose pull --quiet ${{ matrix.database }}

      - name: Start Container
        run: |
          cd packages/velo-external-db/test/resources
          docker compose up --detach ${{ matrix.database }}

      - name: Installing Lerna
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:${{ matrix.database }}

      - name: Stop Container
        run: |
          cd packages/velo-external-db/test/resources
          docker compose down
