name: CI - Push

on:
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  run_tests:
    uses: ./.github/workflows/test-workflow.yml
    with:
      branch: ${{ github.ref_name }}
    secrets: inherit

