name: Test Workflow

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to checkout and test'
        required: true
        type: string

jobs:
  test_main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.branch }}
      - name: Use Node.js 20
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Restore Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

      - name: Installing Dependencies
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:core

  test_databases:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: [
                   "postgres", "postgres13", "postgres12", "postgres11", "postgres10", "postgres9",
                   "mysql", "mysql5",
                   "mssql",
                   spanner,
                   "mongo", "mongo4",
                   "dynamodb",
                   "firestore"
                   ]

    env:
      API_PRIVATE_KEY: ${{ secrets.API_PRIVATE_KEY }}
      CLIENT_EMAIL: ${{ secrets.CLIENT_EMAIL }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.branch }}

      - name: Use Node.js 20
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Restore Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

      - name: Downloading Image
        if: ${{ ( matrix.database != 'google-sheets') }}
        run: |
          cd apps/velo-external-db/test/resources
          docker compose pull --quiet ${{ matrix.database }}

      - name: Start Container
        if: ${{ ( matrix.database != 'google-sheets') }}
        run: |
          cd apps/velo-external-db/test/resources
          docker compose up --detach ${{ matrix.database }}

      - name: Installing Dependencies
        run: npm install

      - name: Install dependencies of the homemade packages.
        run: npm run build:dev

      - name: Testing
        run: npm run test:${{ matrix.database }}

      - name: Stop Container
        if: ${{ ( matrix.database != 'google-sheets') }}
        run: |
          cd apps/velo-external-db/test/resources
          docker compose down

